@model ExportsOfGoods.Models.Parti

@{
    ViewBag.Title = "Подробнее";
}

<h2 class="bodyheader">Партии</h2>

<div>
    <h4 class="bodyheader2">Подробнее</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.NameProducer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartiSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartiSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> model.TypeOfInspection.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfInspection.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionTime)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
