@model ExportsOfGoods.Models.Customs

@{
    ViewBag.Title = Model.Name;
}

<h2 class="bodyheader">Таможни</h2>

<div>
    <h4 class="bodyheader2">Детальная информация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryRec.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountrySend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountrySend.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div class="downlink">
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-sm btn-default" }) |
        @Html.ActionLink("Вернуться к списку", "Index", new {}, htmlAttributes: new { @class = "btn btn-sm btn-default" })
    </p>
</div>
