@model ExportsOfGoods.Models.Customs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryRec.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryRec.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountrySend.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountrySend.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
