@model IEnumerable<ExportsOfGoods.Models.Country>

@{
    ViewBag.Title = "Страны";
}

<h2 class="bodyheader">Страны</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.CountryId }) |
            @if (ViewBag.isAdmin != null && ViewBag.isAdmin == true)
            {
                 @Html.ActionLink("Удалить", "Delete", new { id = item.CountryId })
            }
        </td>
    </tr>
}

</table>
