@model ExportsOfGoods.Models.Product

@{
    ViewBag.Title = "Подробнее";
}

<h2 class="bodyheader">Продукты</h2>

<div>
    <h4 class="bodyheader2">Подробнее</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редатировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
