@model ExportsOfGoods.Models.CustomsQueue

@{
    ViewBag.Title = "Подробнее";
}

<h2 class="bodyheader">Запись на досмотр</h2>

<div>
    <h4 class="bodyheader2">Подробнее</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customs.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customs.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parti.GetFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeBegInsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBegInsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEndInsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEndInsp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
